services:
  cantaloupe:
    profiles: [cantaloupe]
    build: ./cantaloupe
    container_name: tiny-iiif-cantaloupe
    expose:
      - "8182"
    volumes:
      - ./data/images:/images
    restart: unless-stopped

  iipsrv:
    profiles: [iipsrv]
    image: iipsrv/iipsrv
    container_name: tiny-iiif-iipsrv
    volumes:
      - ./data/images:/images
    environment:
      - LOGFILE=/dev/stderr
      - URI_MAP=iiif=>IIIF
      - VERBOSITY=1
      - FILESYSTEM_PREFIX=/images/
      - IIIF_VERSION=3
      - CORS=*
    restart: always

  nginx:
    image: nginx:alpine
    container_name: tiny-iiif-nginx
    environment:
    - IIIF_PROXY_DESTINATION=${IIIF_PROXY_DESTINATION}
    command: >
        /bin/sh -c "cp /etc/nginx/templates/default.conf /etc/nginx/conf.d/default.conf
        && sed -i 's|$${IIIF_PROXY_DESTINATION}|'$$IIIF_PROXY_DESTINATION'|g' /etc/nginx/conf.d/default.conf
        && nginx -g 'daemon off;'"
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf/default.conf:/etc/nginx/templates/default.conf:ro
      - ./data/manifests/:/var/www/manifests:ro
    depends_on:
      cantaloupe:
        condition: service_started
        required: false
      iipsrv:
        condition: service_started
        required: false
    restart: unless-stopped