services:
  cantaloupe:
    build: ./cantaloupe
    container_name: tiny-iiif-cantaloupe
    expose:
      - "8182"
    volumes:
      - ./data/images:/images
    restart: unless-stopped

  tiny:
    build: ./tiny
    container_name: tiny-iiif-gui
    expose:
      - "4321"
    volumes:
      - ./data/:/data
    restart: always
    depends_on:
      - cantaloupe

  nginx:
    image: nginx:alpine
    container_name: tiny-iiif-nginx
    ports:
      - "80:80"
    environment:
      - TINY_USERNAME=${TINY_USERNAME}
      - TINY_PASSWORD=${TINY_PASSWORD}
    volumes:
      - ./nginx/conf/:/etc/nginx/conf.d/:ro
      - ./data/manifests/:/var/www/manifests:ro
      - ./nginx/entrypoint.sh:/docker-entrypoint.d/99-generate-htpasswd.sh:ro
    depends_on:
      - cantaloupe
      - tiny