---
import '../styles/globals.css';

import '@fontsource-variable/dm-sans';

const title = Astro.props.title || 'Minimal IIIF';
---
<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, interactive-widget=resizes-content" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  .openseadragon-canvas {
    outline: none;
  }
</style>